{{#each this}}
<div>
    <h1>Страна: {{name}}</h1>
    <h2>Столица: {{capital}}</h2>
    <p>Жиелей: {{population}}</p>
    <ul>
        {{#each languages}}
        <li>Языки: {{name}}</li>
        {{/each}}
    </ul>
    <img src="{{flag}}" alt="{{name}}">
</div>
{{/each}}